body {
	background-color: #03045e;
}

strong {
	color: #fcbf49;
}

#profile-pic {
	border-radius: 100%;
	display: block;
	margin: auto;
}

#hero-title {
	text-align: center;
	margin: 20px;
	color: #90e0ef;
	font-family: "Raleway", sans-serif;
	font-size: 70px;
	font-weight: bold;
}

#bio {
	text-align: center;
	margin-bottom: 40px;
	color: #caf0f8;
	font-family: "Arvo", serif;
	font-size: 20px;
}
